{% extends 'base.html.twig' %}

{% block title %}Actividades{% endblock %}

{% block body %}
    {#    <div class="container"> #}
    {#        <div class="row mt-3"> #}
    {#            {% for actividad in actividades %} #}
    {#                <div class="card m-3" style="width: 18rem;"> #}
    {#                    <img src="{{ asset('uploads/imagenes/') }}{{ actividad.imagen }}" class="card-img-top" #}
    {#                         alt="imagen-clase"> #}
    {#                    <div class="card-body"> #}
    {#                        <h5 class="card-title">{{ actividad.nombre }}</h5> #}
    {#                        <p class="card-text">{{ actividad.descrip }}</p> #}
    {#                        <a href="actividad/{{ actividad.id }}" class="btn btn-primary">Ver todas</a> #}
    {#                    </div> #}
    {#                </div> #}
    {#            {% endfor %} #}
    {#        </div> #}
    {#    </div> #}


    <h3 class="text-center mt-5">Filtrado de actividades!</h3>
    <section class="">
        <div class="container">
            <div class="row">
                {% for actividad in actividades %}
                    <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                        <a href="actividad/{{ actividad.id }}">
                            <div class="card text-white card-has-bg click-col"
                                 style="background-image:url('{{ asset('uploads/imagenes/') }}{{ actividad.imagen }}');
                                         background-repeat: no-repeat;
                                         background-size: auto;">
                                <img class="card-img d-none" src="https://source.unsplash.com/600x900/?tech,street"
                                     alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
                                <div class="card-img-overlay d-flex flex-column">
                                    <div class="card-body">
                                        <small class="card-meta mb-2">DOSSA GYM</small>
                                        <h4 class="card-title mt-0 ">{{ actividad.nombre }}</h4>
                                    </div>
                                    <p>
                                        {{ actividad.descrip }}
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
