{% extends 'base.html.twig' %}

{% block title %}Crear actividad{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center align-items-center vh-100">
            {{ form_start(form) }}
            <h2 class="col text-center m-2">Crear actividad</h2>
            <div class="col text-center m-2">{{ form_row(form.nombre) }}</div>
            <div class="col text-center m-2">{{ form_row(form.descrip) }}</div>
            <div class="col text-center m-2">{{ form_row(form.imagen) }}</div>
            <div class="col text-center m-2">{{ form_row(form.Crear) }}</div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
