{% extends 'base.html.twig' %}

{% block title %}Hello GimnasioController!{% endblock %}

{% block body %}
    {#    <div class="container"> #}
    {#        <div class="row mt-3"> #}
    {#            {% for actividad in actividades %} #}
    {#                <div class="card m-3" style="width: 18rem;"> #}
    {#                    <img src="{{ asset('uploads/imagenes/') }}{{ actividad.nombre.imagen }}" class="card-img-top" #}
    {#                         alt="imagen-clase"> #}
    {#                    <div class="card-body"> #}
    {#                        <h5 class="card-title">{{ actividad.nombre.nombre }} - Núm. #}
    {#                            sala: {{ actividad.sala.numero }}</h5> #}
    {#                        <h5 class="card-title">{{ actividad.hinic|date('H:i') }} - {{ actividad.hfin|date('H:i') }}</h5> #}
    {#                        <p class="card-text">{{ actividad.nombre.descrip }}</p> #}
    {#                        <a href="/reservasAct/{{ actividad.id }}" class="btn btn-primary">Más información</a> #}
    {#                        <a href="/reservasActdirect/{{ actividad.id }}" class="btn btn-primary">Reservar</a> #}
    {#                    </div> #}
    {#                </div> #}
    {#            {% endfor %} #}
    {#        </div> #}
    {#    </div> #}

    <h3 class="text-center mt-5">Actividades disponibles</h3>
    <section class="">
        <div class="container">
            <div class="row">
                {% if mensaje %}
                    <div class="alert alert-danger text-center" role="alert" id="alertaAdmin">
                        {{ mensaje }}
                    </div>
                {% endif %}
                {% for actividad in actividades %}
                    <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                        <div class="card text-white card-has-bg click-col"
                             style="background-image:url('{{ asset('uploads/imagenes/') }}{{ actividad.nombre.imagen }}');
                                     background-repeat: no-repeat;
                                     background-size: auto;">
                            <img class="card-img d-none" src="https://source.unsplash.com/600x900/?tech,street"
                                 alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
                            <div class="card-img-overlay d-flex flex-column">
                                <div class="card-body">
                                    <small class="card-meta mb-2">DOSSA GYM</small>
                                    <h4 class="card-title mt-0 ">{{ actividad.nombre.nombre }}</h4>
                                    <small><i class="far fa-clock"></i>{{ actividad.hinic|date('H:i') }}
                                        - {{ actividad.hfin|date('H:i') }}</small>
                                </div>
                                <div class="card-footer">
                                    <div class="media">
                                        <img class="mr-3 "
                                             src="{{ asset('uploads/imagenes/') }}{{ actividad.monitor.imagen }}"
                                             alt="Generic placeholder image"
                                             style="width:50px; height:50px; border-radius:150px;">
                                        <div class="media-body">
                                            <h6 class="my-0 text-white d-block">{{ actividad.monitor.nombre }}</h6>
                                            <small>Director of UI/UX</small>
                                        </div>
                                        <div class="row text-center">
                                            <div class="col">
                                                <a href="/reservasAct/{{ actividad.id }}" class="btn btn-primary">Más
                                                    información</a>
                                            </div>
                                            <div class="col">
                                                <a href="/reservasActdirect/{{ actividad.id }}" class="btn btn-success">Reservar</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </section>


    <script !src="">
        let alertaAdmin = document.getElementById('alertaAdmin');

        setTimeout(function () {
            alertaAdmin.remove();
        }, 5000);
    </script>


{% endblock %}
