{% extends 'base.html.twig' %}

{% block title %}Hello GimnasioController!{% endblock %}

{% block body %}
    <div class="row">
        <h1>Hello {{ mensaje }}! ✅</h1>
        {% for actividad in actividades %}

            <div class="card" style="width: 18rem;">
                <img src="{{ asset('uploads/imagenes/') }}{{ actividad.imagen }}" class="card-img-top"
                     alt="imagen-clase">
                <div class="card-body">
                    <h5 class="card-title">{{ actividad.nombre }} - Núm. sala: {{ actividad.sala.numero }}</h5>
                    <h5 class="card-title">{{ actividad.hInicio|date('H:i') }} - {{ actividad.hFin|date('H:i') }}</h5>
                    <p class="card-text">{{ actividad.descripcion }}</p>
                    <a href="reservasAct/{{ actividad.id }}" class="btn btn-primary">Más información</a>
                </div>
            </div>
        {% endfor %}
    </div>
    {#        {% for actividad in actividades %} #}
    {#            <a href="reservasAct/{{ actividad.id }}"> #}
    {#                <p>{{ actividad.nombre }}</p> #}
    {#                <p>{{ actividad.sala.nombre }}</p> #}
    {#                <p>{{ actividad.hInicio|date('H:i:s') }}</p> #}
    {#                <p>{{ actividad.hFin|date('H:i:s') }}</p> #}
    {#                <img src="{{ asset('uploads/imagenes/') }}{{ actividad.imagen }}" alt="Logo"> #}
    {#            </a> #}
    {#        {% endfor %} #}
{% endblock %}
