{% extends 'base.html.twig' %}
{% block header %}
    <div class="position-fixed text-uppercase mb-2 p-2 start-0 text-center bottom-0 w-100" role="navigation">
        <div class="smallContainer p-3 shadow-lg rounded">
            <div class="d-flex align-items-center justify-content-around">
                <div class="navLink navLinkActive">
                    <a href="#">
                        <div><i class="fa-solid fa-house"></i></div>
                        <div class="navLabel">Home</div>
                    </a>
                </div>
                <div class="navLink">
                    <a href="#">
                        <div><i class="fa-brands fa-app-store-ios"></i></div>
                        <div class="navLabel">App</div>
                    </a>
                </div>
                <div class="navLink">
                    <a href="#">
                        <div><i class="fa-solid fa-circle-user"></i></div>
                        <div class="navLabel">Account</div>
                    </a>
                </div>
                <div class="navLink">
                    <a href="#">
                        <div><i class="fa-solid fa-comment"></i></div>
                        <div class="navLabel">Message</div>
                    </a>
                </div>
                <div class="navLink">
                    <a href="#">
                        <div><i class="fa-solid fa-headset"></i></div>
                        <div class="navLabel">Call</div>
                    </a>
                </div>
                <div class="navLink">
                    <a href="#">
                        <div><i class="fa-solid fa-calendar"></i></div>
                        <div class="navLabel">Book</div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    {#    <h3>Bienvenido {{ app.user.username }}</h3> #}
    {#    <a href="{{ path ('familias') }}">Familias</a> #}
    {#    <a href="{{ path ('cesta') }}">Cesta</a> #}
    {#    <a href="{{ path ('pedidos') }}">Pedidos</a> #}
    {#    <a href="{{ path ('logout') }}">Logout</a> #}

{% endblock %}
