{% extends 'base.html.twig' %}

{% block title %}Crear sala{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center align-items-center vh-100">
            {{ form_start(form) }}
            <h2 class="col-12 text-center m-2">Crear sala</h2>
            <div class="col-12 text-center m-2">{{ form_row(form.numero) }}</div>
            <div class="col-12 text-center m-2">{{ form_row(form.nombre) }}</div>
            <div class="col-12 text-center m-2">{{ form_row(form.aforo) }}</div>
            <div class="col-12 text-center m-2">{{ form_row(form.Crear) }}</div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
